:root{
    --cor-texto-destaque: white;
    --cor-texto-secundario: black;
    --cor-primaria: rgb(163, 62, 62);
    --cor-secundaria: blue;
    --cor-terciaria: green;
    --cor-fundo-baner: black;
    --cor-fundo-destaque: brown;
    --cor-fundo-secundario: lightgray;
    --tamanho-titulo: 1.5em;
    --tamanho-texto: 1.2em;
    --tamanho-logo: 3em;
    --tamanho-borda-destaque: 0.1em;
    --tamanho-borda-destaque-radius: 1em;
}   


body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-fundo-secundario);
}

header{
    width: 100vw;
    background-color: var(--cor-fundo-baner);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1,h2{
    text-align: center;
    color: var(--cor-primaria);
}

h1{
    text-transform: uppercase;
}

p{
    text-align: justify;
    font-size: var(--tamanho-texto);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borda-solida-redonda-branca{
    border-radius: 10px;
    border: 2px solid var(--cor-texto-destaque);
}

.cor-fundo-branco{
    background-color: var(--cor-texto-destaque);
}

.texto-destaque{
    color: var(--cor-texto-destaque);
}

.texto-secundario{
    color: var(--cor-texto-secundario);
}

.logo{
    width: 3em;
    height: calc(width*1.5);
    object-fit: cover;
}

nav li a{
    text-decoration: none;
    background-color: var(--cor-texto-secundario);
    color: var(--cor-texto-destaque);
    padding: 0.25em;
}

nav li a:hover{
    background-color: var(--cor-texto-secundario);
    color: var(--cor-texto-destaque);
}

.titulo-logo{
    font-size: var(--tamanho-titulo);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
}

#img-logo-faculdade{
    width: var(--tamanho-logo);
    height: var(--tamanho-logo);
}

.destaque{
    color: var(--cor-texto-destaque);
    font-weight: bold;
    background-color: var(--cor-fundo-destaque);
    padding: 10px;

}

.destaque:hover{
    background-color: var(--cor-primaria);
    cursor: pointer;
}

.destaque:active{
    background-color: var(--cor-secundaria);
}

.destaque:focus{
    background-color: var(--cor-terciaria);
}

nav li{
    list-style-type: none;
    display: inline;
    padding-right: 1em;
}

main{
    position: relative;
    margin: auto;
    width: 80vw;
    margin-top: 7em;
    margin-bottom: 4em;
}

h2.destaque {
    border: var(--tamanho-borda-destaque) solid var(--cor-fundo-destaque);
    border-radius: var(--tamanho-borda-destaque-radius);
}

footer{
    background-color: var(--cor-fundo-baner);
    color: var(--cor-texto-destaque);
    text-align: center;
    padding: 1em;
}